
         This system is managed by Ansible. 
  	   _____________    _____ 
  	  / ____/ ____/ |  / /   |
  	 / /   / __/  | | / / /| |
  	/ /___/ /___  | |/ / ___ |
  	\____/_____/  |___/_/  |_|
  								            
    OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
    Hostname    : {{ ansible_hostname }}
    IP address  : {{ ansible_default_ipv4.address }}
    System type : {{ ansible_system }}
